<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <article class="container">
        <img src="<%= imageUrl %>" alt="snapshot" />
    </article>
</body>
</html>
